src/__pycache__
.ipynb_checkpoints/
Analys
*.png
*.ipynb
Voices/
local/calculate_eer.py
loud_voices_enroll/
noise_voices_enroll/
same_speaker_result_loud_voices
same_speaker_result_noise_voices
same_speaker_result_small_voices
small_voices_enroll/
vivos/
.vscode/
src/local/calculate_eer.py
src/results
src/scores
src/trials
src/vivos
src/Voices
src/Analys
