db
input
exp/make_mfcc
exp/make_vad
exp/scores
.idea/
.vscode/
results
scores
trials
vivos
data
exp/scores_vivos_test
exp/xvector_nnet_1a/xvectors_vivos_test/
local/make_vivos.py
run.sh
mfcc/
__pycache__
.ipynb_checkpoints/
Analys
*.png
*.ipynb
Voices/
different_speaker_result_loud_random
different_speaker_result_noise_random
different_speaker_result_small_random
local/calculate_eer.py
loud_voices_enroll/
noise_voices_enroll/
result-004
same_speaker_result_loud_voices
same_speaker_result_noise_voices
same_speaker_result_small_voices
small_voices_enroll/
test.py
path.sh
